{% extends 'base.html' %}
    <h1>Home</h1>
    {% block head %}
    <title>Home</title>
    {% endblock %}
  {% block body %}
    <div class="container">
      <h1>Profile</h1>
      {% if user.userprofile.image %}
      <img src="{{ user.userprofile.image.url }}" width="140">
      {% endif %}
      <br><br>
      <p>Register Number: {{user}}</p>
      <p>First Name: {{user.first_name}}</p>
      <p>Last Name: {{user.last_name}}</p>
      <p>Email: {{user.email}}</p>
      <!--<p>Description: {{user.Userprofile.Description}}</p>-->   <!--uncomment this and below this to get the old back--> 
      <!--<p>Phone: {{user.userprofile.phone}}</p>-->
    </div>
    {% endblock%}
